<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58480170694-5von7m76cuv8h0ff1gshqshngfb9rp5t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58480170694-5von7m76cuv8h0ff1gshqshngfb9rp5t</string>
	<key>API_KEY</key>
	<string>AIzaSyA0FolxB6ksa8EHY0VF1JglOykCahciiRw</string>
	<key>GCM_SENDER_ID</key>
	<string>58480170694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SaltyYan.plusOne</string>
	<key>PROJECT_ID</key>
	<string>relatability-poll</string>
	<key>STORAGE_BUCKET</key>
	<string>relatability-poll.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58480170694:ios:fe5b693044ac59734669c7</string>
</dict>
</plist>